.mobile #social-links {
  float: none;
  display: block;
  padding: 15px 40px;
  text-align: center;
  border-top: 1px solid #cf7c70;
  margin: 0;
  position: relative;
  overflow: hidden;
  a {
    text-decoration: none;
    backface-visibility: hidden;
    text-indent: -9999px;
    opacity: 1;
    transition: opacity 300ms;
    margin: 0 10px 0 0;
    position: relative;
    top: auto;
  }
}